<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("../../data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [6]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [9]:
data[data.sex == 'Female'].age.mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [18]:
data[data['native-country'] == 'Germany'].shape[0] / data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [26]:
rich = data[data['salary'] == '>50K']
poor = data[data['salary'] != '>50K']
print(rich.age.mean(), rich.age.std())
print(poor.age.mean(), poor.age.std())

44.24984058155847 10.51902771985177
36.78373786407767 14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [27]:
data.education.unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [29]:
rich.education.unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [32]:
data.groupby(['race', 'sex'])['age'].describe()

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [ ]:
'a'.startswith

In [35]:
data['married'] = [1 if stat.startswith('Married') else 0 for stat in data['marital-status']]
data['married']

0        0
1        1
2        0
3        1
4        1
        ..
32556    1
32557    1
32558    0
32559    0
32560    1
Name: married, Length: 32561, dtype: int64

In [46]:
pd.crosstab(data[data['sex'] == "Male"]['married'], data[data['sex'] == "Male"]['salary'], normalize=True)

salary      <=50K      >50K
married
0        0.346581  0.031987
1        0.347682  0.273749

In [47]:
data[(data['sex'] == "Male") & (data['married'] == 1)]['salary'].value_counts(normalize=True)

<=50K    0.559486
>50K     0.440514
Name: salary, dtype: float64

In [48]:
data[(data['sex'] == "Male") & (data['married'] == 0)]['salary'].value_counts(normalize=True)

<=50K    0.915505
>50K     0.084495
Name: salary, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [50]:
data['hours-per-week'].max()

99

In [52]:
hardworkers_amount = (data['hours-per-week'] == 99).sum()

In [54]:
lucky_hw = ((data['hours-per-week'] == 99) & (data['salary'] == '>50K')).sum()

In [55]:
lucky_hw / hardworkers_amount

0.29411764705882354

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [56]:
data['native-country'].nunique()

42

In [66]:
country_rate = pd.DataFrame(data.groupby(by=['native-country', 'salary'])['hours-per-week'].mean())

In [71]:
country_rate.T

native-country         ?              Cambodia           Canada             \
salary             <=50K       >50K      <=50K  >50K      <=50K       >50K
hours-per-week  40.16476  45.547945  41.416667  40.0  37.914634  45.641026

native-country      China         Columbia             Cuba         \
salary              <=50K  >50K      <=50K  >50K      <=50K   >50K
hours-per-week  37.381818  38.9  38.684211  50.0  37.985714  42.44

native-country Dominican-Republic          Ecuador        El-Salvador        \
salary                      <=50K  >50K      <=50K   >50K       <=50K  >50K
hours-per-week          42.338235  47.0  38.041667  48.75   36.030928  45.0

native-country    England                France           Germany             \
salary              <=50K       >50K      <=50K   >50K      <=50K       >50K
hours-per-week  40.483333  44.533333  41.058824  50.75  39.139785  44.977273

native-country     Greece          Guatemala              Haiti         \
salary              <=50K    >50K      <=50K       >50K   <=50K   >50K
hours-per-week  41.809524  50.625  39.360656  36.666667  36.325  42.75

native-country Holand-Netherlands   Honduras             Hong       Hungary  \
salary                      <=50K      <=50K  >50K      <=50K  >50K   <=50K
hours-per-week               40.0  34.333333  60.0  39.142857  45.0    31.3

native-country            India           Iran          Ireland         Italy  \
salary          >50K      <=50K    >50K  <=50K  >50K      <=50K  >50K   <=50K
hours-per-week  50.0  38.233333  46.475  41.44  47.5  40.947368  48.0  39.625

native-country          Jamaica       Japan               Laos        \
salary          >50K      <=50K  >50K <=50K       >50K   <=50K  >50K
hours-per-week  45.4  38.239437  41.1  41.0  47.958333  40.375  40.0

native-country     Mexico            Nicaragua        \
salary              <=50K       >50K     <=50K  >50K
hours-per-week  40.003279  46.575758  36.09375  37.5

native-country Outlying-US(Guam-USVI-etc)       Peru       Philippines  \
salary                              <=50K      <=50K  >50K       <=50K
hours-per-week                  41.857143  35.068966  40.0   38.065693

native-country                Poland         Portugal       Puerto-Rico  \
salary               >50K      <=50K  >50K      <=50K  >50K       <=50K
hours-per-week  43.032787  38.166667  39.0  41.939394  41.5   38.470588

native-country              Scotland                South              Taiwan  \
salary               >50K      <=50K       >50K     <=50K     >50K      <=50K
hours-per-week  39.416667  39.444444  46.666667  40.15625  51.4375  33.774194

native-country         Thailand            Trinadad&Tobago        \
salary          >50K      <=50K       >50K           <=50K  >50K
hours-per-week  46.8  42.866667  58.333333       37.058824  40.0

native-country United-States               Vietnam       Yugoslavia
salary                 <=50K       >50K      <=50K  >50K      <=50K  >50K
hours-per-week     38.799127  45.505369  37.193548  39.2       41.6  49.5

In [70]:
country_rate.loc['Japan', :]

        hours-per-week
salary
<=50K        41.000000
>50K         47.958333